<div class="modal-header flex layout-row justify-between" id="EntityDialog">
    <h3 style="border-bottom:none; margin-left:20px;" class="modal-title">------------------</h3>
    <ng-md-icon ng-click="cancel()" class="delete" icon="close" size="24px" style="position:absolute; cursor:pointer;            fill:#666666;position: absolute!important;right: 13px;"></ng-md-icon>
</div>
<div class="modal-body">
    <div class='flex layout-column justify-between flex-wrap'>
        <div class="padded-area">
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_name'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_name"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_shortName'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_shortName"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_fullName'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_fullName"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_locatedGazette'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_locatedGazette"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_form'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_form"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_licenseNumber'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_licenseNumber"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_dateTimeLicenseStartDate'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_dateTimeLicenseStartDate"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_dateTimeLicenseEndDate'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_dateTimeLicenseEndDate"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_licenseLocatedGazetteName'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_licenseLocatedGazetteName"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_documentLicenseId'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_documentLicenseId"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_catalogContactManager'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_catalogContactManager"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_legalAddress'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_legalAddress"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_factAddress'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_factAddress"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_telegraph'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_telegraph"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_fax'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_fax"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_phone'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_phone"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_email'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_email"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_organizationNumber'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_organizationNumber"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_iNN'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_iNN"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_kPP'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_kPP"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_checkingАccount'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_checkingАccount"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_bankName'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_bankName"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_bankAddress'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_bankAddress"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_bIK'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_bIK"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_oKPO'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_oKPO"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_cashAccount'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_cashAccount"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_oKONH'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_oKONH"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_oKFS'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_oKFS"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_oKATO'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_oKATO"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_oKVED'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_oKVED"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_pZ'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_pZ"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_isSelfOrganization'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_isSelfOrganization"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_note'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_note"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_dateTimeCreateDate'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_dateTimeCreateDate"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_createUserName'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_createUserName"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_dateTimeLastEditDate'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_dateTimeLastEditDate"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 form-field-contacts_lastEditUserName'>
                    <md-input-container>
                        <label>------------------</label>
                        <input ng-model="entity.contacts_lastEditUserName"> </md-input-container>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-5">
                    <md-button class="md-raised" style="width:100%; margin-left:0; margin-right:0" ng-click="cancel()">Отменить</md-button>
                </div>
                <div class="col-xs-5 col-xs-offset-2">
                    <md-button class="md-raised md-primary" style="width:100%; margin-left:0; margin-right:0" id="saveEntityButton" ng-click=" save()">Создать</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>