<div class="flex layout-row">
    <div id="projects_card_page_content" class='page-content'>
        <div class="flex layout-row flex-wrap" style="justify-content:center" ng-class="{'pure-text' : !isCardEditing}">
            <div class='group-element flex layout-column'>
                <h4><span class="header">------------------</span></h4>
                <div class="padded-area">
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_name'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_name '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_shortName'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_shortName '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_fullName'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_fullName '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_locatedGazette'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_locatedGazette '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_form'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_form '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_licenseNumber'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_licenseNumber '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_dateTimeLicenseStartDate'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_dateTimeLicenseStartDate '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_dateTimeLicenseEndDate'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_dateTimeLicenseEndDate '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_licenseLocatedGazetteName'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_licenseLocatedGazetteName '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_documentLicenseId'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_documentLicenseId '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_catalogContactManager'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_catalogContactManager '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_legalAddress'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_legalAddress '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_factAddress'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_factAddress '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_telegraph'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_telegraph '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_fax'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_fax '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_phone'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_phone '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_email'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_email '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_organizationNumber'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_organizationNumber '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_iNN'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_iNN '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_kPP'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_kPP '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_checkingАccount'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_checkingАccount '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_bankName'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_bankName '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_bankAddress'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_bankAddress '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_bIK'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_bIK '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_oKPO'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_oKPO '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_cashAccount'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_cashAccount '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_oKONH'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_oKONH '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_oKFS'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_oKFS '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_oKATO'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_oKATO '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_oKVED'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_oKVED '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_pZ'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_pZ '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_isSelfOrganization'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_isSelfOrganization '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_note'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_note '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_dateTimeCreateDate'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_dateTimeCreateDate '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_createUserName'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_createUserName '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_dateTimeLastEditDate'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_dateTimeLastEditDate '> </md-input-container>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12 form-field-organizations_lastEditUserName'>
                            <md-input-container>
                                <label>------------------</label>
                                <input ng-model='entity.organizations_lastEditUserName '> </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex layout-column justify-end" ng-class="{'invisible' : !isUserEditor()}">
        <burger-edit></burger-edit>
    </div>
</div>